@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;
// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
      @content;
  }
}
.message {
  border: 1px solid #d3d3d3;
    width: 107%;
    height: 350px;
    margin-top: -20px;
    @include sm {
      border: 1px solid #d3d3d3;
      width: 111%;
      height: 82%;
      margin-top: -45px;
      margin-left: -20px;
  }
  .container {
    max-width: 350px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  .messagecardWrap{
    padding-top: 0px;
    height: 100%;
    background: white;
  }
  .messagecard {
    height: 85%;
    text-align: center;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    background-color: white;
}
.messagebordercard {
  background: #fff;
  -webkit-box-shadow: 5px 5px 25px 0 blue;
  box-shadow: 5px 5px 25px 0 blue;
  -moz-border-radius: .375rem;
  border-radius: .375rem;
  border-top: var(--accent-width,5px) solid var(--accent-color,#fff);
}
.messagecardImage {
  width: 160px;
  height: 160px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: -110px;
  margin-bottom: 2px;
  border: 5px solid white;
}
.messagecardName {
  color: #2e3d49;
  margin-bottom: 2px;
  margin-top: 0px;
}
.messageHeaderImg
{
  height: 130px;
  width: 100%;
}
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }
  .messagecardQuote {
    font-size:11px;
    padding: 0 10px 10px;
    font-style: italic;
    -moz-box-flex: 1;
    flex: 1 1 auto;
    color:gray;
    height: 35px !important;
    margin-bottom: 0px;
    @include sm {
      height: 30px !important;
      margin-bottom: -15px;
    }
}
p {
  margin-top: 0;
  font-size: 12px;
  font-weight: 400;
}
.messagecardCompanyInfo {
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  background-color: white;
  -moz-box-flex: 0;
  flex: 0 0 auto;
  width: 100%;
  font-size: 11px !important;
  margin-bottom: 20px;
  @include sm {
    margin-bottom: 0px;
  }
  p{
    padding: 0 20px;
    font-size: 11px;
    font-weight: 600;
  }
}
.messagecardNowAt {
  color: #525c65;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 24px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.quotes{
  width: 90%;
  height: 35px;
  margin-top: -10px;
  @include sm {
    height: 30px;
    margin-top: -13px;
  }
}
  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}